services:
  web:
    build: .
    container_name: nexus-web
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
    command: gunicorn alx_project_nexus.wsgi:application --bind 0.0.0.0:8000 --workers 3

  redis:
    image: redis:7
    container_name: nexus-redis
    ports:
      - "6379:6379"
